.container{
    padding: 50px;
    margin: 50px;
    border: double;
    border-radius: 50px;
    border-spacing: initial;
}

header {
    background-color: blue;
    height: 130px;
    width: 100%;
}

img {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

