.container{
    padding: 5%;
    margin-top: 25px;
    border: double;
    border-radius: 50px;
    border-spacing: initial;
}

header {
    background-color: blue;
    height: 130px;
    width: 100%;
}

img {
    width: 400px;
}

.logo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

.gipHy img{
    width: 100%;
    height: auto;
}