/* sticky footer start
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
}
/* sticky footer end*/

/* .container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
}


.btn.waves-effect.waves-light{
    margin:0 auto;
    display:block;
}

.card-panel.teal{
    margin-left: auto;
    margin-right: auto;
}

label, .white-text{
    font-size: large;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

label{
    color: black;
}
/* nav wrapper */
.container{
    padding: 50px 50px 50px 50px;
    margin: auto;
    border:double;
    border-radius: 50px;
    border-spacing: initial;
}
h1{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.p-0{
    border: solid darksalmon;
    background-color: transparent;
}
.p1{
    border: solid darksalmon;
    background-color: transparent;
    display: inline-block;
}
/* button{
    
} */